[submodule "_includes"]
	path = _includes
	url = ../Jekyll_includes.git
	branch = main

[submodule "_layouts"]
	path = _layouts
	url = ../posetmage_layouts.git
	branch = main

[submodule "assets"]
	path = assets
	url = ../Jekyll_assets.git
	branch = main