
<head>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<ul class="social-media-list">
    {% for network in site.social %}
        <li>
            <a href="{{ network.url }}">
                {% if network.platform == "envelope" %}
                    <i class="fas fa-{{ network.platform }}"></i>
                {% else %}
                    <i class="fab fa-{{ network.platform }}"></i>
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
