<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" style="background-color: #000; color: #fff;">

  {%- include head.html -%}

  <body style="background-color: #000; color: #fff;">

    {%- include header.html -%}

    <main class="page-content" aria-label="Content" style="background-color: #000; color: #fff;">
      <div class="wrapper" style="background-color: #000; color: #fff;">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
