---
layout: default
---


{% assign folder_path = page.path | split: '/' %}
{% assign index_url = "/" | append: folder_path[0] | append: "/" | append: folder_path[1] | append: "/index" %}
<a href="{{ index_url | relative_url }}">{{page.tags.first}}</a><br> 

{% assign sorted_pages = site.pages | sort: 'url' | reverse %}
{% for p in sorted_pages %}
    {% if p.tags contains page.tags.first %}
        {% assign filename = p.url | split: '/' %}
        {% assign filename_no_html = filename.last | remove: '.html' %}
        {% unless filename_no_html == 'toc' %}
            <a style="font-size: 1em;" href="{{ p.url | relative_url }}">{{ filename_no_html }}</a><br> 
        {% endunless %}
    {% endif %}
{% endfor %}

